<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://func-bl-yaya.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bda026af-224f-407e-b2fb-adeee91f9644/resourceGroups/rg-beelingua-tutorial/providers/Microsoft.Web/sites/func-bl-yaya</ResourceId>
    <UserName>$func-bl-yaya</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://func-bl-yaya.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>